.DS_Store
admin/node_modules/
admin/dist/
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/**/*.log

admin/tests/**/coverage/
admin/tests/e2e/reports
admin/selenium-debug.log

admin/# Editor directories and files
admin/.idea
admin/.vscode
admin/*.suo
admin/*.ntvs*
admin/*.njsproj
admin/*.sln
admin/*.local

admin/package-lock.json
admin/yarn.lock


后台/idea
后台/vscode
后台/vendor
后台/*.log
后台/env